@use './app/shared/styles/_variables' as v;
@use './app/shared/styles/_typography';

body {
  position: relative;
  background-color: v.$bg-color;
  background-image:
    repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 20px),
    repeating-linear-gradient(90deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 20px);
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    lime,
    cyan,
    blue,
    magenta,
    red
  );
  background-size: 30% 30%;
  animation: rainbow-drift-diag 6s linear infinite;
  will-change: background-position;

  mask-image:
    radial-gradient(
      circle 40px at var(--mx, 50%) var(--my, 50%),
      rgba(0,0,0,1) 30%,
      rgba(0,0,0,0.8) 60%,
      rgba(0,0,0,0.4) 90%,
      rgba(0,0,0,0) 100%
    ),
    repeating-linear-gradient(0deg, transparent 0 19px, #000 19px 20px),
    repeating-linear-gradient(90deg, transparent 0 19px, #000 19px 20px);
  mask-composite: intersect, add;

  -webkit-mask-image:
    radial-gradient(
      circle 40px at var(--mx, 50%) var(--my, 50%),
      rgba(0,0,0,1) 30%,
      rgba(0,0,0,0.8) 60%,
      rgba(0,0,0,0.4) 90%,
      rgba(0,0,0,0) 100%
    ),
    repeating-linear-gradient(0deg, transparent 0 19px, #000 19px 20px),
    repeating-linear-gradient(90deg, transparent 0 19px, #000 19px 20px);
  -webkit-mask-composite: source-in, xor;
}

@keyframes rainbow-drift-diag {
  from { background-position:   0%; }
  to   { background-position: -87%; }
}
